#=============================================================================
# dark_powered.toml --- dark powered configuration example for SpaceVim
# Copyright (c) 2016-2020 Wang Shidong & Contributors
# Author: Wang Shidong < wsdjeg at 163.com >
# URL: https://spacevim.org
# License: GPLv3
#=============================================================================

# All SpaceVim option below [option] section
[options]
    # set spacevim theme. by default colorscheme layer is not loaded,
    # if you want to use more colorscheme, please load the colorscheme
    # layer
    colorscheme = "gruvbox"   # SPC T s -	select a theme using a fuzzy finder.
    colorscheme_bg = "dark"
    # Disable guicolors in basic mode, many terminal do not support 24bit
    # true colors
    enable_guicolors = true
    snippet_engine = "neosnippet"
    # Disable statusline separator, if you want to use other value, please
    # install nerd fonts
    statusline_separator = "slant"
    statusline_iseparator = "slant"
    statusline_unicode = true
    buffer_index_type = 4
    enable_tabline_filetype_icon = true
    nable_filetree_gitstatus = true
    enable_vimfiler_welcome = false
    filetree_direction = "left"
    bootstrap_before = 'myspacevim#before'
    # bootstrap_after = 'myspacevim#after'

# Enable autocomplete layer
[[layers]]
  name = 'autocomplete'
  auto_completion_return_key_behavior = "complete"
  auto_completion_tab_key_behavior = "smart"

[[layers]]
  name = 'shell'
  default_position = 'bottom'
  default_height = 30

# ___________Custom Config___________
# SPC f v d - to get directly to config vim file
# commands :SPReinstall :SPUpdate

[[layers]]
  name = "lang#go"

[[layers]]
  name = "lang#dockerfile"

[[layers]]
  name = "git"

[[layers]]
  name = "git"
  git_plugin = 'fugitive'

# [[layers]]
  # name = "ryanoasis"
  # git_plugin = 'vim-devicons'

[[layers]]
  name = "lang#html"
  emmet_leader_key = "<C-e>"
  emmet_filetyps = ['html']

# https://spacevim.org/layers/lang/java/
[[layers]]
  name = "lang#java"

[[custom_plugins]]
    name = "lilydjwg/colorizer"
    merged = 0

[[custom_plugins]]
    name = "tpope/vim-scriptease"
    merged = 0
    on_cmd = "Scriptnames"

[[layers]]
  name = "lang#sh"

[[layers]]
  name = "denite"

[[custom_plugins]]
    name = "ryanoasis/vim-devicons"
    merged = false

[[layers]]
  name = "VersionControl"

# ________________________________________________
    
# [[custom_plugins]]
    # repo = "https://github.com/avanzzzi/behave.vim.git"
    # merged = false
#
# [[custom_plugins]]
    # repo = "https://github.com/tpope/vim-cucumber.git"
    # merged = false
#
# [[layers]]
  # name = "lang#groovy"
